.photo{
    margin-bottom: 24px;
}
.form-check-label{
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 8px;
}

.upload{
    font-size: 14px;
    display: flex;
        align-items: center;
        gap: 8px;
        color: blue;
}


