.modal-body{
    /* width: 256px; */
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
}


.form-check-label{
    font-family: 'RobotoBold';
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 8px;
            margin-top: 24px;
}

.upload{
    font-size: 14px;
    display: flex;
        align-items: center;
        gap: 8px;
        color: blue;
}

@media screen and (min-width: 768px) {
    .modal-body {
        width: 656px;
    }
}


